*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.centro{
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}
html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
header{
    height: 200px;
    padding: 20px 0;
}
.logo{
    width: 50%;
}
.menu{
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    margin-left: 0px;
}
.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}
#login{
    padding-top: 30px;
    text-align: center;
}
#login a{
    color: black;
    top: 70%;
    text-decoration: none;
    font-weight: bold;
    padding-left: 15px;
    text-align: center;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: 130px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#textlogin:hover{
    background-color: lightblue;
}
.textfundacao{
    margin-top: 70px;
}
.textfundacao h1{
    text-align: center;
    color:#005C53;
    margin-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragrafoum{
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.textprincipios{
    margin-top: 70px;
}
.textprincipios h1{
    text-align: center;
    color:#C43302;
    margin-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragrafodois{
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.textatualmente h1{
    text-align: center;
    color:#0B2B40;
    margin-left: 20px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragrafotres{
    margin-left: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0B2B40;
    color: white;
    text-align: center;
}
.terminal{
    text-align: center;
}